/* Color palette */
/* Sizes & margins */
.neos.neos-module.neos-module-management-history .neos-history-site-form {
  float: left; }
.neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events {
  padding-top: 16px; }
  .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-date {
    margin-bottom: 16px; }
    .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-date .neos-history-date-inner {
      line-height: 40px;
      width: 40px;
      height: 40px;
      margin-left: -22px;
      font-size: 12px;
      background: #3f3f3f; }
  .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event {
    padding-top: 0;
    padding-right: 0;
    margin-bottom: 16px;
    background-color: #323232;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid #3f3f3f;
    box-shadow: none; }
    .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event::after {
      content: none; }
    .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-arrow,
    .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-arrow:after {
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent; }
    .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-arrow:after {
      content: "";
      z-index: -1; }
    .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-title {
      margin: 0;
      padding: 13px 12px;
      font-size: 14px;
      line-height: 14px;
      font-weight: bold;
      color: #fff;
      background-color: #222;
      border-bottom: 1px solid #3f3f3f; }
      .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-title:empty {
        display: none; }
      .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-title .neos-tooltip-inner {
        white-space: nowrap;
        max-width: none; }
    .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-content {
      padding: 8px 12px; }
    .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-sub-event {
      display: flex;
      flex-direction: row;
      align-items: center; }
    .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-sub-event + .neos-history-sub-event {
      margin-top: 8px; }
    .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-user {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      margin-right: 0;
      float: none;
      border: none;
      background: #007fb2;
      overflow: hidden;
      text-align: center;
      line-height: 32px;
      font-size: 12px;
      justify-content: center;
      flex-shrink: 0; }
    .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description {
      padding: 4px 0 4px 16px;
      margin-right: 0;
      line-height: 16px; }
      .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description a {
        text-decoration: underline; }
      .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description .neos-history-event-details {
        cursor: pointer;
        user-select: none; }
      .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description .neos-popover {
        width: 600px; }
        .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description .neos-popover table {
          width: 100%; }
          .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description .neos-popover table th {
            text-align: center;
            font-weight: bold; }
          .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description .neos-popover table td,
          .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description .neos-popover table th {
            height: auto;
            padding: 8px;
            line-height: 1; }
            .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description .neos-popover table td:first-child,
            .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description .neos-popover table th:first-child {
              padding-left: 0 !important; }
            .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description .neos-popover table td:last-child,
            .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description .neos-popover table th:last-child {
              padding-right: 0 !important; }
            .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description .neos-popover table td td,
            .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description .neos-popover table th td {
              width: 50%;
              border: none; }
        .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description .neos-popover ins, .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description .neos-popover ins a {
          color: #00a338;
          text-decoration: none; }
        .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description .neos-popover del, .neos.neos-module.neos-module-management-history .neos-history-day .neos-history-events .neos-history-event .neos-history-event-description .neos-popover del a {
          color: #ff460d;
          text-decoration: none; }
.neos.neos-module.neos-module-management-history .neos-history-day:nth-child(even) .neos-history-events.neos-history-alignment .neos-history-date {
  margin-left: 100%; }
.neos.neos-module.neos-module-management-history .neos-history-day:nth-child(even) .neos-history-events.neos-history-alignment .neos-history-event {
  margin-right: 10px; }
.neos.neos-module.neos-module-management-history .neos-history-day:nth-child(even) .neos-history-events.neos-history-alignment .neos-history-event-arrow {
  top: 50%;
  right: -10px;
  margin-top: -10px;
  border-width: 10px 0 10px 10px;
  border-left-color: #323232; }
  .neos.neos-module.neos-module-management-history .neos-history-day:nth-child(even) .neos-history-events.neos-history-alignment .neos-history-event-arrow:after {
    border-width: 11px 0 11px 11px;
    border-left-color: #3f3f3f;
    bottom: -11px;
    right: -1px; }
.neos.neos-module.neos-module-management-history .neos-history-day:nth-child(odd) .neos-history-events.neos-history-alignment .neos-history-date {
  margin-left: -4px; }
.neos.neos-module.neos-module-management-history .neos-history-day:nth-child(odd) .neos-history-events.neos-history-alignment .neos-history-event {
  margin-left: 10px; }
.neos.neos-module.neos-module-management-history .neos-history-day:nth-child(odd) .neos-history-events.neos-history-alignment .neos-history-event-arrow {
  top: 50%;
  left: -10px;
  margin-top: -10px;
  border-width: 10px 10px 10px 0;
  border-right-color: #323232; }
  .neos.neos-module.neos-module-management-history .neos-history-day:nth-child(odd) .neos-history-events.neos-history-alignment .neos-history-event-arrow:after {
    border-width: 11px 11px 11px 0;
    border-right-color: #3f3f3f;
    bottom: -11px;
    left: -1px; }

/*# sourceMappingURL=Module.css.map */
